.PageNotFound {
  margin: auto;
  text-align: center;
  padding: 10vmax;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.PageNotFound > svg {
  font-size: 7vmax;
  color: tomato;
}
.PageNotFound > p {
  font-size: 2vmax;
}
.PageNotFound > a {
  background-color: rgb(51, 51, 51);
  color: white;
  border: none;
  padding: 1vmax 3vmax;
  cursor: pointer;
  font: 400 1vmax 'Roboto';
  text-decoration: none;
  margin: 2vmax;
}
@media screen and (max-width: 600px) {
  .PageNotFound > a {
    padding: 3vw 6vw;
    font: 400 4vw 'Roboto';
    margin: 2vmax;
  }
  .PageNotFound > svg {
    font-size: 20vw;
  }
  .PageNotFound > p {
    margin: 2vmax;
    font-size: 5vw;
  }
}


.back {
  padding: 10px;
  background-color: #2E2E2E;
}

.font {
  color: white;
}

.content {
  width: 50%;
  height: 50%;
  margin: 5% auto;
}

.card-img-top {
  width: 5rem;
  height: 13rem;
}

.modal-button {
  text-align: center;
}

.card-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.name {
  font-size: 1.4rem;
  width: 20rem;
}
h1 {
  text-align: center;
}

.carousel-img {
  width: 100%;
  height: 100%;
}